<div class="navbar">
    <div class="image">
        <img src="./assets/img/tivit_logo.png" width="50%">
    </div>
    <div class="user">
        <mat-icon class="icon-display">account_circle</mat-icon>
        <span class="user">Yohel Cruz</span>
    </div>
    <br>
    <div class="nav-buttons">
        <button mat-button routerLink="/dashboard/home"><mat-icon id="home-icon">home</mat-icon>Inicio</button>
        <button mat-button routerLink="/dashboard/profile"><mat-icon id="person-icon">person</mat-icon>Perfil</button>
        <button mat-button routerLink="/dashboard/absences"><mat-icon id="run-icon">directions_run</mat-icon>Ausencias</button>
        <button mat-button routerLink="/dashboard/vacations"><mat-icon id="vacations-icon">airplane_ticket</mat-icon>Vacaciones</button>
        <button mat-button routerLink="/dashboard/reviews"><mat-icon id="reviews-icon">check</mat-icon>Revisiones</button>
        <br>

        <button mat-button routerLink="/logout" class="exit"><mat-icon>logout</mat-icon>Salir</button>
    </div> 
</div>
