<h1>Vacaciones</h1>
<p>¿Quieres registrar tus próximas vacaciones?</p>
<div class="container">
  <form class="container" [formGroup]="vacationsForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Días restantes</mat-label>
      <input matInput disabled value="{{ 15 }}">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Ingrese la fecha de vacaciones:</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="startdate" placeholder="Start date">
        <input matEndDate formControlName="enddate" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/AAAA – MM/DD/AAAA</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
      <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha de fin inválida</mat-error> -->
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Detalle de pedido</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
  
    <button mat-raised-button type="submit" (click)="addVacations()" color="warn">Ingresar vacaciones</button>
  </form>
</div>
