.header{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self:flex-start;
    height: auto;
    background-color: #CAD2D8;
    padding: 100px 0 0 60px;
    height: 30%;
}
.header h2 {
    font-size: 40px;
    padding-top: 50px;
}

.header h3 {
    font-size: 20px;
    margin-bottom: 0%;
}

.spinner {
    margin: 0 auto;
}

.body {
    display: flex;
    justify-content: center;
    height: 70%;
    align-items: center;
    background-color: #CAD2D8;
    
}

h1, h2, h3, h5 {
    font-family: 'Titillium Web';
}

h1, h2 {
    color:  #F20024;
    font-weight: bold;
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
    padding-bottom: 150px;
}

.entrance {
    width: 80%;
}

.button {
    height: 50px;
}